[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GOG Galaxy
Comment=GOG Galaxy
Exec=tmnationsforever
Icon=${SNAP}/meta/gui/gog-galaxy.png
Categories=Game;
Terminal=false
StartupNotify=true
StartupWMClass=GalaxyClient.exe
Keywords=game