[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GOG Galaxy
Comment=GOG Galaxy
Exec=gog-galaxy-wine
Icon=/usr/share/icons/icon.png
Categories=Game;
Terminal=false
StartupNotify=true
StartupWMClass=GalaxyClient.exe
Keywords=game